@model BlossomCart.Models.Bouquet

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<title>Admin | Add product</title>

<style>
    .form-control{

    }
    

       
       

        input[type="file"]::before {
            margin-left:-5px;
            content: 'Choose File'; /* Text on the button */
            display: inline-block;
             /* Button color */
            color: white; /* Text color */
            background-color: black;
            width:130px;
            /* Padding inside the button */
            border-radius: 5px; /* Rounded corners */
            cursor: pointer; /* Pointer on hover */
            font-size: 16px; /* Font size */
            border: 2px solid black;
            border-width:10px;/* Border color */
        }

        /* Style the button on hover */
       

        input[type="file"]::-webkit-file-upload-button {
            visibility: hidden;
        }


    
</style>
<section class="bg-img1 txt-center  p-lr-15 p-tb-92  " style="background-image: url('/Admin/images/Admin.jpg'); margin-top:8%;">
    <h2 class="ltext-105 cl0 txt-center ">
        Admin Panel
    </h2>
    <ol class="txt-center justify-content-center mb-0 my-3">
        <a asp-action="Create" asp-controller="Products" class=" mtext-102  text-center " style=" font-size:20px;"> Add Products</a>
        <a asp-action="Index" asp-controller="Products" class="mtext-102 cl0 text-center" style=" font-size:20px;">/ Products List </a>
    </ol>
</section>

<div class="container my-5" >
    <h6 class="mtext-103 cl2" style="font-size:50px;  color:crimson; ">Add New <span style="font-size:50px"; class="mtext-103 cl2">Products</span></h6>


    <h4 class="mtext-103 cl2">Bouquets</h4>
<hr />
    <div class="row my-3">
        <div class=" col-lg-8 col-md-16">
        <form asp-action="Create" asp-controller="Products" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                    <label asp-for="BouquetName" class="mtext-102 cl2" style="color:crimson;">Name of Bouquet</label>
                    <input asp-for="BouquetName" class="form-control" required minlength="6" maxlength="25" placeholder="Bouquet Name...!" />
                <span asp-validation-for="BouquetName" class="text-danger"></span>
            </div>
            <div class="form-group my-4">
                    <label asp-for="BouquetDescription" class="mtext-102 cl2" style="color:crimson;">Description of Bouquet</label>
              
                    <textarea asp-for="BouquetDescription" class="form-control" style="resize:none; height:100px;" placeholder="Bouquet Description...!" required maxlength="400" minlength="20" ></textarea>
                <span asp-validation-for="BouquetDescription" class="text-danger"></span>
            </div>
            <div class="form-group my-4">
                    <label asp-for="Price" class="mtext-102 cl2" style="color:crimson;">Price of Bouquet</label>
                    <input asp-for="Price" class="form-control" placeholder="Bouquet Price...!" required />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group my-4">
                    <label asp-for="Image" class="mtext-102 cl2" style="color:crimson;">Image of Bouquet</label>
                    <input asp-for="Image" class="form-control" type="file" id="formFileMultiple" name="file" required class="form-control" accept=".jpg,.png,.jpeg" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group my-4">
                    <label asp-for="CategoryId" class="mtext-102 cl2" style="color:crimson;">Category of Bouquet</label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CatId">
                    
                </select>
            </div>
            <div class="form-group my-4" >
                    <input type="submit" value="Add Products"  class=" w-100 my-3 flex-c-m stext-103 cl0 size-103 bg3 bor3 hov-btn3 p-lr-15 trans-04 m-b-20" />
                   
            </div>
        </form>
    </div>
</div>


</div>

